.navbar {
  background-color: #004aad;
  position: fixed;
  width: 100%;
  z-index: 1000;
  font-weight: bold;
  font-size: 1.3em;
}
.navbar .nav-link {
  color: white !important;
}
.footer {
  background-color: #004aad;
  color: white;
  padding: 20px 0;
}
.footer a {
  color: white;
}
.carousel-item img {
  max-height: 500px;
  object-fit: cover;
}
.contact-form input, .contact-form textarea {
  margin-bottom: 10px;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px; 
}

.card {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  width: 400px; 
  height: 450px; 
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}